@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

/* Основные стили */

/* margin: ; - внешние отсутпы */
/* padding: ; - внутренние отступы */
/* font-family: ; - шрифт */
/* font-size: ; - размер текста */
/* background: ; - задний фон */
/* width: ; - размер ширины */
/* height: ; - размер высоты */
/* color: ; - цвет текста */
/* font-weight: ; - жирность текста */
/* text-align: ; - центрирование */

/* Стили ко всей странице */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/* Стили к заголовку первого уровня */
h1 {
    font-size: 50px;
}

label {
    display: inline-block;  
}




ul {
    margin-left: 200px;
    list-style: none;
}


/* Стили Header и навигационного блока */

/* Стили к блоку - скрытия меню */
.toggle {
    display: none;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #000;
    font-size: 30px;
}

/* Стили ссылки в навигационном блоке */
.nav-link {
    color: #000;  
}

/* Стили элементов в навигационном блоке */
.nav-item {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
}


/* Стили к блоку Логотипа */
.navbar__logo {
    display: flex;
    align-items: center;
}
/* Стили к логотипу */
.navbar__logo_img {
    width: 70px;
    height: 70px;
}

/* Стили к названию сайта */
.navbar__logo_link {
    font-size: 50px;
    color: #000;
}

/* Стили при наведения курсором мыши */
.navbar__logo_link:hover {
    text-decoration: none;
    color: #000;
}


/* Стили кнопки */
button {
    /*Button style*/
    padding: 15px 25px;
    margin: 30px 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    /*Text style*/
    font-size: 18px;
    font-weight: 600;
    color: black;
}

/* Стили при наведения курсором мыши */
button:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
}

/* Стили к тексту */
.header__logo_text {
    text-decoration: none;
    color: #000;
}









/* Первый блок регистрации */
.block-register {
  background-color: #ffffff;
  height: 500px;
  text-align: center;
}

/* Блок Формы регистрации */
.block-register-form {
  display: block;
  margin: 0 auto;
}

/* Заголовок */
.block-register-title {
  text-align: center;
  font-size: 24px;
  color: #5B71A0;
  font-weight: 700;
  padding-top: 20px;
}

/* Подзаголовок */
.block_register__subtitle {
  display: flex;
  justify-content: left;
 

}


/* Форма поля ввода */
.block_register__input {
  width: 380px;
  height: 50px;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.block_register_form__content {
  display: flex;
  justify-content: center;
}

/* Стили Элементов */
.feedback__form_item {
  display: block;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  color: #000;
  font-weight: 600;
  border: none;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}


/* Название формы поля ввода, которая располагается над полем */
.feedback__form_subtitle {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
   color: #5B71A0;
  font-weight: 700;
}

/* Блок формы */
.form-group {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

/* Стили кнопки */
.feedback__form_button {
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;

  background: #6D62EB;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}



/* Стили подвала сайта (Футер) */

.footer {
    height: 600px;
    background: #9FC8FE;
    margin-top: 400px;

    padding-top: 40px;
    padding-left: 106px;
    padding-right: 106px;
}


/* Стили к заголовку */
.footer__title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    line-height: 56px;
    text-align: center;
}

/* Стили к другим элементам (span) */
.footer__item {
    display: block;
    font-size: 24px;
    color: #D9E9FF;
    margin-top: 20px;
}

.footer__block_content_text {
    margin: 0 auto;
}






@media (max-width: 1404px) {

  .navbar {
    display: block;
    text-align: center;
  }

  .navbar__items {
    display: block;
  }


  .toggle {
    display: block;
    transition: 0.6s ease;
  }
  .nav-item {
    display: block;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__items {
    display: none;
  }

  .navbar__form_register {
    display: none;
  }

  .active {
    display: block;
  }

}


/* Form register Aaptive Style */

@media (max-width: 720px) {
  .feedback__form_item {
   
   width: 400px;
        
  }

  .feedback__form_subtitle {
    margin-left: 20%;
  }
  .form-group {
    width: 100%;
  }
}

@media(max-width: 655px) {
   .feedback__form_subtitle {
    margin-left: 15%;
  }
}

@media (max-width: 576px) {
  .feedback__form_item {
    margin-left: 15%;
  
    width: 250px;
    
  }

  .feedback__form_subtitle {
    margin-left: 15%;
 

}

}







/* Адаптив */

/* Адаптив к Header и навигационному блоку */
@media (max-width: 1404px) {

  .navbar {
    display: block;
    text-align: center;
  }

  .navbar__items {
    display: block;
  }


  .toggle {
    display: block;
    transition: 0.6s ease;
  }
  .nav-item {
    display: block;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__items {
    display: none;
  }

  .navbar__form_register {
    display: none;
  }

  .active {
    display: block;
  }

}






/* Адаптив формы авторизации */

@media (max-width: 720px) {
  .feedback__form_item {
   
   width: 400px;
        
  }

  .feedback__form_subtitle {
    margin-left: 20%;
  }

  .form-group {
    width: 100%;
  }
}

@media(max-width: 655px) {
   .feedback__form_subtitle {
    margin-left: 15%;
  }
}

@media (max-width: 576px) {
  .feedback__form_item {
    margin-left: 15%;
    width: 250px;
  }

  .feedback__form_subtitle {
    margin-left: 15%;
  }
}









/* Стили подвала */

@media(max-width: 1163px) {
    .footer {
        
        height: 1000px;

    }

    .footer .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__map {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
}

@media (max-width: 992px) {
    .footer__block_content_text {
        text-align: center;
    }
}

@media(max-width: 768px) {
 .footer__map {
        width: 100%;
    }

}

@media (max-width: 720px) {
    .visit__font {
        font-size: 64px;
        margin-top: 40px;
    }

    .footer__item {
        font-size: 18px;
    }
}

@media(max-width: 578px) {
    .footer__map {
        position: absolute;
        width: 100%;
        height: 200px;
    }
}



