@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    background: #010001;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    width: 90%;
    margin: auto;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}

.secondary-nav .item-link {
    color: #808080;
}

.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0;
}

.description {
    max-width: 268px;
    margin: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.description::after {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background-color: #fff;
    margin: auto;
    margin-top: 26px;
}

.video {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    height: 750px;
}

.features {
    max-width: 1230px;
    height: 50%;
    margin: auto;
    padding: 100px 40px;
    position: relative;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.table {
    margin-bottom: 200px;
}

.table-column {
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
}

.features-text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
    max-width: 300px;
}

.footer {
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav .item-link {
    font-size: 18px;
    height: 21px;
    
}

.footer .logo {
    margin-bottom: 43px;
}

.footer-nav {
    margin-bottom: 28px;
}

.footer-text  {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 0;
}

.footer-link {
    color: #808080;
    text-decoration: none;
}

.button {
    padding: 20px;
    color: #fff;
    min-width: 260px;
    min-height: 60px;
    text-align: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
}

@media (max-width: 960px) {
    .rocket {
        max-width: 230px;
    }

    .table-column {
        width: 250px;
    }
}

@media(max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header .logo {
        margin-bottom: 20px;
    }

    .header .main-nav {
        margin-bottom: 20px;
    }

    .rocket {
        max-width: 180px;
    }

    .video {
        width: 100%;
    }
}

@media(max-width: 576px) {

    .features {
        padding-left: 20px;
        padding-right: 20px;
    }

    .rocket {
        position: static;
        margin-bottom: 30px;
    }

    .table {
        margin-bottom: 0;
    }

    .table-column {
        font-size: 14px;
        width: 150px;
    }

    .footer-nav .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-nav .item {
        margin-bottom: 10px;
    }

    .footer {
        text-align: center;
    }

    .main {
        padding-top: 50px;
    }

    .video {
        width: 100%;
    }
}