* {
	box-sizing: border-box;
}

body {
	padding-top: 44px;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.input {
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: left 11px center;
}

.input-address {
	flex: 0.8;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	background-image: url('../img/home.svg');
	background-repeat: no-repeat;
	background-position: left 11px center;

}

.buttons {
}

.button {
	padding: 8px 16px;
	background: #ffffff;
	box-sizing: border-box;
	border: 1px solid #d9d9d9;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
	border-radius: 2px;
	color: #595959;
	font-size: 16px;
	line-height: 24px;
}

.button-primary {
	background-color: #1890FF;
	border: 1px solid #1890FF;
	color: #fff;
	margin-right: 10px;
}

.button-card-text {
	margin-right: 10px;
}

.button-icon {
	margin-right: 6px;
	vertical-align: middle;
}

.button-text {
	vertical-align: middle;
}



.promo {
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
	background: #fff1b8 url('../img/promo-img.jpeg') no-repeat top -100px right -247px / 924px;
	border-radius: 10px;
	padding: 68px 70px;
	margin-bottom: 56px;
}

.promo-title {
	max-width: 450px;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 46px;
	color: #302c34;
}

.promo-text {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	max-width: 538px;
	color: #302c34;
}

.input-search {
	width: 300px;
	background-image: url('../img/search.svg');
	margin-left: auto;
}

.section-heading {
	display: flex;
	align-items: center;
	margin-bottom: 44px;
}

.section-title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	margin: 0;
	color: #000000;
	margin-right: 30px;
}

.cards {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	background-color: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 30px;
	flex-basis: 31%;
	text-decoration: none;
}

.card-image {
	width: 384px;
	height: 250px;
	object-fit: cover;
}

.card-text {
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 23px;
	padding-right: 23px;
}

.card-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-title {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	color: #000000;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 400px;
}

.card-title-regular {
	font-weight: 400;
}

.card-tag {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;

	color: #FFFFFF;
	
	background: #262626;
	border-radius: 2px;

	padding: 1px 8px;
}

.card-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-button {
	display: flex;
	align-items: center;
	margin-top: 24px;

}

.card-price-bold {
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	margin-left: 30px;
}

.rating {
	margin-right: 26px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	color: #FFC107;

}

.price, .category {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}

.category {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100px;
}

.ingredients {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #8C8C8C;

	// Additional Options
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 300px;
}

.price {
	margin-right: 10px;
}

.price::after {
	content: "";
	width: 5px;
	height: 5px;
	background-color: #8c8c8c;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-left: 10px;

}

.footer {
	padding: 60px 0;
}

.footer-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-nav {
	margin-right: auto;
	margin-left: 35px;
}

.footer-link {
	display:inline-block;
	color: #595959;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
}

.footer-link:not(:last-child) {
	margin-right: 15px;
}

.social-links {
	display: flex;
	align-items: center;
}

.social-link:not(:last-child) {
	margin-right: 21px;
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.is-open {
	display: flex;
}

.modal-dialog {
	max-width: 780px;
	width: 95%;
	margin: auto;

	background: #fff;
	border-radius: 5px;

	padding: 40px 45px;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px;
}

.modal-title {
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
}

.close {
	font-size: 36px;
	border: none;
	background: transparent;
}

.food-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	padding-bottom: 8px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 15px;

}

.food-name {
	font-size: 18px;
	font-weight: normal;
	line-height: 32px;
}

.food-price {
	margin-left: auto;
	margin-right: 47px;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
}

.food-counter {
	display: flex;
	align-items: center;	
}

.modal-body {
	margin-bottom: 52px;
}

.counter-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 39px;
	height: 32px;
	background-color: #fff;
	border: 1px solid #40a9ff;
	box-sizing: border-box;
	border-radius: 2px;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #40a9ff;
}

.counter {
	font-size: 16px;
	line-height: 24px;
	margin-left: 10px;
	margin-right: 10px;
}

.modal-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-button {
	display: flex;
	align-items: center;
}

.modal-pricetag {
	background: #262626;
	border-radius: 5px;
	color: #ffffff;
	padding: 15px 20px;
}

@media (max-width: 1366px) {
	.container {
		max-width: 960px;
	}

	.promo {
		background-size: 750px;
		background-position: top right -300px;
	}

	.category, .price {
		font-size: 14px;
	}

	.rating {
		margin-right: 15px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}

	.promo {
		padding: 50px;
		background-size: 500px;
		background-position: center right -200px;
	}

	.promo-text {
		font-size: 18px;
		font-weight: 400;
	}

	.card {
		flex-basis: 49%;
	}

	.footer-link {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 560px;
	}

	.card-info {
		flex-wrap: wrap;
	}
	.card .rating {
		flex-basis: 100%;

	}

	.card-title {
		font-size: 18px;
	}

	.promo {
		background-size: 400px;
		background-position: bottom 50px right -200px;
	}

	.promo-title {
		max-width: 250px;
		font-size: 24px;
		line-height: 1.4;
	}

	.promo-text {
		margin-top: 0;
	}
}

@media (max-width: 578px) {
	.container {
		width: 90%;
	}

	.header {
		width: 90%;
		flex-wrap: wrap;
		margin: auto;
		margin-bottom: 40px;	
	}

	.input-address {
		margin-top: 15px;
		order: 5;
		flex: 1;
	}

	.promo {
		background-image: none;
	}

	.promo-title {
		margin-bottom: 10px;
	}

	.section-title {
		font-size: 20px;
	}

	.card {
		flex-basis: 100%;
	}

	.card-image {
		width: 100%;
	}

	.footer-nav {
		margin-left: 0;
		margin-right: 0;
		order: 0;
		display: flex;
		flex-direction: column;
	}

	.footer-logo {
		order: 1;
		margin-right: 15px;
	}

	.social-links {
		order: 2;
	}

	.footer {
		padding: 30px 0;
	}

	.footer-block {
		align-items: flex-start;
	}

}

@media (max-width: 480px) {

	.button-text {
		display: none;
	}

	.button {
		min-height: 40px
	}

	.button-icon {
		margin: 0;
	}

	.footer-block {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	.footer-logo {
		order: 0;
		margin-bottom: 20px;
	}

	.footer-nav {
		margin-bottom: 20px;
		text-align: center;
	}

	.footer-link:not(:last-child) {
		margin-right: 0;
	}

	.section-heading {
		flex-wrap: wrap;
	}

	.promo {
		padding: 20px;
	}
}