#AddDefaultCharset UTF-8
DirectorySlash Off
<IfModule mod_rewrite.c>
   RewriteEngine On

## Дополнительная защита - работает не на всех хостингах
#RewriteCond  %{REQUEST_URI} /.__route/$
#RewriteRule  ^(.*)$   $1  [R=404]
   
   RewriteCond %{REQUEST_FILENAME} !/route.php$
   RewriteCond %{REQUEST_FILENAME} !\.\S+$ [OR]
   RewriteCond %{REQUEST_FILENAME} \.(htm|shtml|html|php|php4|php5)+$
   RewriteRule ^(.*)$ route\.php\?$1 [QSA,L]

</IfModule>