/* Styles for main block */


.section {
    margin-bottom: 40px;
}

.accordion-tab {
    width: 75em;
}

main .accordion-item {
    border: none;
}

main .accordion-button {
    width: 75em;
    background-color: #262626;
    color: #fff;
    border-radius: 16px;
}

main .accordion-tab table.dataTable tbody tr.row-1 {
}

main .accordion-tab table.dataTable tbody tr.row-2 {
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #262626;
}

.nav-pills .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F0F0F0;
    color: #262626;
}

#pills-chart-tab {
    border-radius: 100px 0 0 100px;
}

#pills-table-tab {
    border-radius: 0 100px 100px 0;
}

.table__row {
    cursor: pointer;
}

.statistika-row {
    display: flex;
}

.statistika-duty {
    width: 216px;
    height: 216px;
    background-color: #BFD2FF;
    border-radius: 34px;
    color: #262626;
    text-align: center;
    font-weight: 700;
    padding-top: 15px;
}



.statistika-duty h3, .statistika-sales h3 {
    font-weight: 800;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 38px;
}

.statistika-duty h3 {
    margin-bottom: 18px;
}

.statistika-duty span, .statistika-sales span {
    font-weight: 700;
    font-size: 32px;
}

.statistika-duty span {

}

.statistika-sales {
    width: 216px;
    height: 216px;
    background-color: #FFEDAE;
    border-radius: 34px;
    color: #262626;
    text-align: center;
    padding-top: 15px;
    margin-left: 30px;
}

.statistika-all-info {
    width: 216px;
    height: 216px;
    background-color: #D1CDFF;
    border-radius: 34px;
    color: #262626;
    text-align: center;
    padding-top: 15px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.statistika-all-info h3 {
    color: #6355FF;
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
}

.table__edit {
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #c4c4c4;
}

.statistika-all-info button {
    background-color: #6355FF;
    border-radius: 9px;
    color: #FFFFFF;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin-top: 30px;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #262626;
}

