@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 100%;
    margin: auto;
}

.form-input {
    width: 360px;
    height: 60px;
    border: 2px solid #C9C9C9;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    outline: none;
}

.form-input:focus {
    border: 2px solid #676767;
}

.button {
    width: 360px;
    height: 60px;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
}

.button:focus {
    outline: none;
}

.button-purple {
    background: #8000FF;
}

.h1-container {
    text-align: center;
    margin-top: 40px;
    font-size: 55px;
}

.plans {
    margin-left: 85px;
    margin-right: 85px;
    max-height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
}

.top-images {
    width: 85px;
}

.plans-div-your {
    height: 150px;
    min-width: 200px;
    padding: 10px;
    border: 4px solid red;
    border-radius: 20px;
    text-align: center;
}

.plans-div {
    height: 150px;
    min-width: 200px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
}

.plans-up-text-your {
    font-weight: bold;
    font-size: 30px;
}

.plans-up-text {
    font-weight: normal;
    font-size: 30px;
}

.plans-advantage {
    font-size: 38px;
    text-align: center;
    margin: auto;
}

.plans-price {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.price-number {
    font-weight: bold;
    font-size: 40px;
}

.plans-hr { 
    border-radius: 25px;
    height: 1px;
    background: #676767;
    grid-column-start: 2;
    grid-column-end: 5;
}

.plans-images {
    text-align: center;
}

.plans-images-img {
    width: 90px;
}

@media (max-width: 1081px) {
    .plans {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 881px) {
    .plans {
        margin-left: 20px;
        margin-right: 20px;
    }
    .plans-advantage {
        font-size: 28px;
    }
    .h1-container {
        font-size: 40px;
    }
}

@media (max-width: 851px) {
    .top-images {
        width: 45px;
    }
    .plans-up-text-your {
        margin: auto;
    }
    .plans-images-img {
        width: 60px;
    }
    .plans {
        grid-gap: 15px;
    }
    .plans-div, .plans-div-your {
        height: 100px;
        min-width: 140px; 
    }
    .plans-advantage {
        font-size: 18px;
    }
    .plans-price {
        font-size: 25px;
    }
    .price-number {
        font-size: 35px;
    }
    .plans-up-text-your, .plans-up-text {
        font-size: 26px;
    }
    .h1-container {
        font-size: 34px;
    }
}

@media (max-width: 600px) {
    .top-images {
        width: 45px;
    }
    .plans-images-img {
        width: 40px;
    }
    .plans-price {
        font-size: 20px;
    }
    .price-number {
        font-size: 30px;
    }
    .plans-div, .plans-div-your {
        height: 90px;
        min-width: 100px; 
    }
    .plans-up-text-your, .plans-up-text {
        font-size: 20px;
    }
}