 

* { 
margin: 0; 
padding: 0; 
} 

body { 
background-color: #f7f7f7; 
font-family: 'Roboto', sans-serif; 
} 

#header { 
border: 1px solid #b5b7ba; 
background-color: #dfdfdf; 
min-width: 1280px; 
height: 70px; 
text-align: center; 
padding-top: 18px; 
} 

#header #selected { 
color: #000; 
} 

#center { 
width: 1280px; 
margin: 0 auto; 
} 

#header a { 
color: #4d4d4d; 
font-size: 20px; 
font-weight: 100; 
text-align: left; 
text-decoration: none; 
height: 30px; 
line-height: 30px; 
display: inline-block; 
} 

#header span { 
padding: 0 38px; 
} 

#content { 
height: 806px; 
min-width: 1200px; 
margin: 0 auto; 
} 

#content h1 { 
min-width: 1200px; 
text-align: center; 
color: #2e353d; 
font-size: 40px; 
font-weight: 300; 
margin-top: 63px; 
margin-bottom: 75px; 
} 

#content h3 { 
color: #242424; 
font-size: 35px; 
font-weight: 300; 
text-align: left; 
margin-left: 41px; 
margin-bottom: 52px; 
} 

#content h5 { 
color: #242424; 
font-size: 24px; 
text-align: left; 
} 



#content #box_text { 
width: 671px; 
background-color: #ffffff; 
float: right; 
padding: 49px 48px 51px 76px; 
} 

#content #box_text p { 
color: #242424; 
font-size: 24px; 
font-weight: 100; 

} 

#content #box_text a { 
color: #40678a; 
font-size: 24px; 
font-weight: 100; 


padding-right:30px; 
} 


#content .media { 
margin-right: 0; 
} 

#content #box { 
background-color: #ffffff; 
width: 1238px; 
height: 446px; 
margin: 0 auto; 
padding-top: 37px; 
padding-left: 38px; 
} 

#content #box p { 
color: #242424; 
font-size: 24px; 
font-weight: 100; 


} 

#content #box input { 
border: 1px solid #a0a0a0; 
background-color: #f5f5f5; 
width: 457px; 
height: 34px; 
padding-left:10px; 
font-size:20px; 
font-weight: 100; 
margin-bottom: 12px; 
} 

#content #box a { 
display: block; 
float: left; 
background-color: #8cbbd3; 

font-size: 24px; 
font-weight: 300; 


margin-top: 30px; 
padding:11px 51px; 
} 

#content #box a:hover { 
background-color: #5ba1d3; 
} 

#footer { 
background-color: #434445; 
min-width: 1920px; 
height: 140px; 
margin: 0 auto; 
text-align: center; 
color: #a4a4a4; 
font-size: 20px; 
font-weight: 100; 
line-height: 140px; 
} 

#footer a { 
color: inherit; 
}




#img1{
width: 250px;
height: 250px;
margin-top: 80px;
text-align: left;
transition: 0.6s ease;s
}

#img1:hover{
	width: 280px;
	height: 280px;
	transition: 0.6s ease;
	transform: skew(12deg, -12deg);
}

.block1 a{
	float: left;
	margin-left: 40px;
}

.block1 a p{
	text-align: center;
	font-size: 25px;
	
}



.title_1 h2{
  margin-top: 40px;
}

#header a{
	transition: 0.6s ease;
}

#header a:hover{
transition: 0.6s ease;
color: #fff;
}