

* { 
margin: 0; 
padding: 0; 

} 

body { 
background-color: #f7f7f7; 
font-family: 'Roboto', sans-serif; 
} 

#header { 
border: 1px solid #b5b7ba; 
background-color: #dfdfdf; 
min-width: 1280px; 
height: 70px; 
text-align: center; 
padding-top: 18px; 
} 

#header #selected { 
color: #000; 
} 

#center { 
width: 1280px; 
margin: 0 auto; 

} 

#header a { 
color: #4d4d4d; 
font-size: 20px; 
font-weight: 100; 
text-align: left; 
text-decoration: none; 
height: 30px; 
line-height: 30px; 
display: inline-block; 
} 

#header span { 
padding: 0 38px; 
} 

#content { 
height: 806px; 
min-width: 1200px; 
margin: 0 auto; 
} 

#content h1 { 
min-width: 1200px;  
color: #2e353d; 
font-weight: 300; 
margin-top: 63px; 
margin-bottom: 75px; 
} 

#content h3 { 
color: #242424; 
font-size: 35px; 
font-weight: 300; 
text-align: left; 
margin-left: 41px; 
margin-bottom: 52px; 
} 

#content h5 { 
color: #242424; 
font-size: 24px; 
text-align: left; 
} 

#content img { 
margin-left: 17px; 
} 

#content #box_text { 
width: 671px; 
background-color: #ffffff; 
float: right; 
padding: 49px 48px 51px 76px; 
} 

#content #box_text p { 
color: #242424; 
font-size: 24px; 
font-weight: 100; 

margin-bottom: 31px; 
} 

#content #box_text a { 
color: #40678a; 
font-size: 24px; 
font-weight: 100; 
text-align: center; 
text-decoration: none; 
padding-right:30px; 
} 


#content .media { 
margin-right: 0; 
} 

#content #box { 
background-color: #ffffff; 
width: 1238px; 
height: 446px; 
margin: 0 auto; 
padding-top: 37px; 
padding-left: 38px; 
} 

#content #box p { 
color: #242424; 
font-size: 24px; 
font-weight: 100; 


margin-bottom: 30px; 
} 

#content #box input { 
border: 1px solid #a0a0a0; 
background-color: #f5f5f5; 
width: 457px; 
height: 34px; 
padding-left:10px; 
font-size:20px; 
font-weight: 100; 
margin-bottom: 12px; 
} 

#content #box a { 
display: block; 
float: left; 
background-color: #8cbbd3; 
color: #ffffff; 
font-size: 24px; 
font-weight: 300; 
text-align: center; 
text-decoration: none; 
margin-top: 30px; 
padding:11px 51px; 
} 

#content #box a:hover { 
background-color: #5ba1d3; 
} 

#footer { 
background-color: #434445; 
min-width: 1920px; 
height: 140px; 
margin: 0 auto; 
text-align: center; 
color: #a4a4a4; 
font-size: 20px; 
font-weight: 100; 
line-height: 140px; 
} 

#footer a { 
color: inherit; 
}

#update_news{
	width: 200px;
	height: 120px;
	float: left;
	margin-right: 20px;
}

#news_h2{
font-size: 25px;
text-align: left;
text-decoration: underline;
color: darkcyan;
}

#news_p{
	text-align: left;
	
}

#header a{
	transition: 0.6s ease;
}

#header a:hover{
transition: 0.6s ease;
color: #fff;
}

.news_2{

}

#news_img2{
	
	width: 200px;
	height: 120px;
	float: left;
	margin-right: 20px;
}

#news2_h2{
font-size: 25px;
text-align: left;
text-decoration: underline;
color: darkcyan;
}

#news2_p{
	text-align: left;
	
}

#img_3{
	width: 200px;
	height: 120px;
	float: left;
	margin-right: 20px;
}

#news3_h2{
font-size: 25px;
text-align: left;
text-decoration: underline;
color: darkcyan;
}

#news3_p{
	text-align: left;
	
}

#plus{
	color: green;
	font-size: 25px;
}

#minus{
	color: red;
	font-size: 25px;
}

#span_news{
color: darkblue;
text-decoration: underline;
}

#img4_update{
	width: 200px;
	height: 120px;
	float: left;
	margin-right: 20px;
}

#news4_h2{
font-size: 25px;
text-align: left;
text-decoration: underline;
color: darkcyan;
}

#news4_p{
	text-align: left;
	
}