@light: #fff;

body {
 
 
 font-family: 'Neucha', cursive;
}

.navbar-title {
 font-size: 40px;
}

.nav-item a {
 font-size: 20px;
 transition: 0.6s ease;
 &:hover {
   transition: 0.6s ease;
   color: #fff;
 }
}

.section {
 padding-top: 50px;
 background-color: #00b6d6;
 padding-bottom: 100px;
&-title {
 font-size: 80px;
 color: white;
 margin-bottom: 60px;
 font-weight: 900;
  }
&-img {
 width: 400px;
 height: 400px;
 
  }
&-text {
 
 color: #fff;
 vertical-align: middle;
 
  }
}

.bg-img {
 background: url(../img/bg2.jpg) center no-repeat fixed;
 height: 300px;
 
}

.content {
 padding-top: 200px;
 &-title {
  color: #000;
 }
 .card {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  box-shadow: 0 0 10px #eee;
   transition: 0.6s ease;
 
 
  
   &-header {
  	font-weight: 400;
  	font-size: 25px;
  	color: #fff;
  }
 }
}

.card-btn {
 display: block;
 margin: 0 auto;
 margin-top: 20px;
 width: 150px;

}

footer {
 height: 200px;
 margin-top: 400px;
 background-color: #0094ce;
}

.card:hover {
 transform: scale(1.2);
}

.contacts {
 margin-top: 200px;
 margin-bottom: 200px;
 &-title {
  margin-bottom: 40px;
 }
 &-items {
  transition: 0.6s ease;
  
  &:hover {
  	transition: 0.6s ease;
  	transform: scale(1.1);
  }
 }
}

#map {
 width: 600px;
 height: 400px;
}

.others {
 margin-top: 200px;
}

.card-img-top {
 
 height: 200px;
}

.title-other {
 font-weight: 400;
 font-size: 28px;
 margin-bottom: 40px;
}

.card-other {

	margin-top: 40px;
 transition: 0.6s ease;
 &:hover {
 transition: 0.6s ease;
 }
}

.price {
 font-size: 24px;
}

.footer-item1 {
 display: block;
 text-align: center;
 padding-top: 20px;
 font-size: 35px;
 color: #fff; 
}

.footer-item2 {
 text-align: center;
 a {
   color: #fff;
    transition: 0.6s ease;
   &:hover {
   	color: gray;
    transition: 0.6s ease;
   }
 }
}

.other-title {
 display: block;
 margin: 0 auto;
 margin-top: 200px;
}

.footer-copyright {
	color: white;
} 

@media (max-width: 1070px) {
	#map {
		height: 300px;
		width: 500px;
	}
}

@media (max-width: 960px) {
 

 #map {
 	height: 300px;
 	width: 500px;
 }
}

@media (max-width: 720px) {
.card-other {
	display: flex;
	justify-content: center;
    
}
 #map { 
 	text-align: center;
  height: 400px;
  width: 500px;
  }
 .footer-item2 a {
 	display: block;
 	margin: 0 auto;
  text-align: center;
 }

 .footer-copyright p {
 	text-align: center;
 	display: block;
 	padding: 0 auto;
 }
}

@media (max-width: 540px) {
 .contacts-title {
 	margin-left: 10px;
 }
 #map {
 	height: 300px;
 	width: 400px;
 }
 .footer-item2 a {
 	display: block;
 	margin: 0 auto;
  text-align: center;
 }

 .footer-copyright p {
 	text-align: center;
 	display: block;
 	padding: 0 auto;
 }
}

@media (max-width: 445px) {
	.section-title {
		font-size: 70px;
		text-align: center;
	}

    .other-title {
    	display: block;
    	margin: 0 auto;
    }

 #map {
 	height: 200px;
 	width: 250px;
 }
 .footer-item2 a {
 	display: block;
 	margin: 0 auto;
  text-align: center;
 }

 .footer-copyright p {
 	text-align: center;
 	display: block;
 	padding: 0 auto;
 }
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: 70%;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}

.background-image {
	background: url(../img/bg3.jpg) center no-repeat fixed;
	height: 300px;
}