    body {
        background: url(../images/header-bg.png) center no-repeat;
        height: 2000px;
    }

    .main-quiz-holder {
        text-align: center;
    }

    .main-quiz-holder  .slide-container ul.answers {
        margin: 0px;
        list-style: none;
    }

    .main-quiz-holder .slide-container ul.answers li {
        cursor: pointer;
        padding: 6px 30px;
        margin: 10px 0;
        display: block;
        text-align: left;
    }

    .question {
        display: none;
    }

    .main-quiz-holder {
        margin: 0px auto;
        padding: 20px 0px;
        /*position: relative;
        background: #FCFCFC;*/
        border: 1px solid #dedede;
        /*box-shadow: 0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
        border-radius: 10px 10px 10px 10px;*/
        width: 600px;
        background: #fff;
        border-radius: 0 0 20px 20px;
    }

    .main-quiz-holder .slide-container {
        margin: 0px auto;
        width: 450px;
    }

    .main-quiz-holder .question {
        line-height: 1.3em;
    }

    .main-quiz-holder .notice {
        display: none;
        text-align: center;
        margin: 0px 0px 15px 0px;
    }

    .nav-container {
        margin: 15px 0px;
    }

    .progress {
        margin: 0px auto;
        width: 450px;
        height: 25px;
    }

    .nav-container button.btn-success {
        float: right;
    }

    .results button.btn-success, .results button.btn-danger {
        margin: 3px;
    }

    .results * {
        margin: 0px auto;
    }

    .progress {
        display: none;
    }

    .section-prize {
        background: rgba(0, 71, 255, 0.2);
        padding-top: 120px;
        padding-bottom: 84px;

    }

    
    .section-prize-title {
        text-align: center;
        font-size: 60px;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .section-prize-block {
        list-style: none;
    }

    .section-prize-block-item {
        font-size: 50px;
        color: #fff;
        margin-top: 40px;
        text-align: center;
        border: 2px solid ;
        height: 100px;
        vertical-align: center;
        padding-top: 20px;

    }

    .section-prize-block-item img {
        
    }

    .row {
        margin: 0;
        padding: 0;
    }