* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #363636;
}

.header {
    height: 104px;
    display: flex;
    align-items: center;
    padding-left: 34px;
    border-bottom: 1px solid #D4D4D4; 
}

.m-menu {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
    margin-left: 34px;
}



.search-input {
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 38px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;
}

.search-input:focus {
    outline: none;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.button-group {
    height: 100%;
}

.button {
    height: 100%;
    cursor: pointer;
}

.sign-up {
    color: #5671F6;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: #fff;
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid #D4D4D4;
}

.login {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background-color: #5671F6;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}

.mobile-buttons {
    display: none;
}

.m-menu-button, .search-button {
    padding: 5px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.menu-line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #000;
    flex-basis: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 40px;
}



.container {
    max-width: 1130px;
    margin: auto;
}

.film {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    width: 358px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;;
}

.trailer-button {
    background-color: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.trailer-button-icon, .trailer-button-text {
    vertical-align: middle;
}

.trailer-button-icon {
    margin-right: 14px;
}

.film-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;

}

.film-subtitle {
    display: block;
    color: #A5A5A5;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 32px;
}

.film-description {
    font-size: 14px;
    line-height: 150%;
    max-width: 514px;
    color: #000;
    margin-bottom: 50px;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.about-text {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 40px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-counter {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5671F6;
    border-radius: 10px;
    margin-right: 28px;
}

.rating-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 12px;
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    padding-top: 70px;
    padding-bottom: 100px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

.section-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #A5A5A5;
    margin-right: 30px;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}

.tabs-content {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.tabs-content.visible {
    display: flex;
    visibility: visible;
}

.tab {
    cursor: pointer;
}

.card {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5671F6;
    margin-top: 0;
    margin-bottom: 6px;
}

.en-name {
    color: #a5a5a5;
}

.news {
    background-color: #f3f3f3;
    padding-top: 70px;
    padding-bottom: 100px;
}

.section-news-title {
    font-weight: 900;
    color: #000000;
    margin-bottom: 65px;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    flex-basis: 23%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.news-date {
    font-size: 14px;
    line-height: 16px;
}

.news-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    margin-top: 14px;
}

.button-next {
    display: none;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;

}



@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .card-image {
        width: 70px;
        height: 70px;
    }

    .navigation {
        margin-right: 20px;
    }

    .header {
        height: 90px;
        padding-left: 20px;
    }

    .sign-up {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-input {
        margin-left: 20px;
    }

    .navigation-link {
        margin-right: 10px;
        font-size: 16px;    
    }
    .line {
        margin-left: 20px;
    }
    
}

@media (max-width: 991px) {
    .container {
        max-width: 760px;
    }

    .navigation {
        display: none;
    }

    .search-input {
        margin-right: auto;
    }

    .film-title {
        font-size: 24px;
        line-height: 1.4;
    }

    .film-subtitle {
        margin-bottom: 20px;
    }

    .film-description, .about-film {
        margin-bottom: 30px;
    }

    .about-text-bold {
        display: block;
        margin-bottom: 10px;
    }

    .card-image {
        width: 100px;
        height: 100px;
    }

    .card {
        flex-basis: 50%;
    }

    .news-card {
        flex-basis: 40%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .header {
        height: 80px;
    }

    .no-scroll {
        overflow: hidden;
    }



    .mobile-buttons {
        margin-left: auto;
    }

    .film {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .film-wrapper {
        flex-wrap: wrap;
    }

    .film-text {
        order: -1;
        margin-bottom: 30px;
    }

    .cast {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .news {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .news-card {
        max-width: 90%;
    }

    /* .button-next {
        display: block;
    } */

    .m-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 0;
        top: 68px;
        right: 0;
        bottom: 0;
        height: calc(100% - 68px);
        background: #5671f6;
    }

    .m-menu.active {
        display: flex;
    }

    .button-group {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation-link {
        color: #fff;
        margin: 18px;
        margin-right: 0;
    }

    .navigation-link:last-child {
        
        margin-bottom: 0;
    }

    .sign-up {
        background-color: transparent;
        color: #fff;
        border: none;
        margin-bottom: 30px;
    }

    .search-input {
        height: 50px;
        border-radius: 5px;
        border: none;
        background-image: none;
        margin: 0;
    }

    .button-next {
      display: block;
    }
}

@media(max-width: 576px) {

    .mobile-buttons {
        display: block;
    }
    
    .line {
        display: none;
    }

    .container {
        width: 95%;
    }


   

    .film-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }

    .film-subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }

    .film-description {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .about-film {
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 4px;
    }

    .about-text-bold {
        display: inline-block;
    }

   

   

    .search-input:focus {
        width: auto;
    }

    .film-trailer, .poster {
        width: 100%;
    }

    .film-trailer {
        margin-bottom: 30px;
    }

    .film-text, .search-input {
        margin-bottom: 0;
    }
    
    .card {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .card-image {
        width: 60px;
        height: 60px;
    }

    .tabs {
        margin-bottom: 35px;
    }

    .cast {
        padding-bottom: 50px;
    }

    .news-card {
        flex-basis: 100%;
    }
}




